<% provide(:title, 'MyPage') %>
<header>
    	<div id="menu">
		<ul id="menu_body">
            <img src="images/tailorlogoblack.png" class="icon">
			<li><a href="xxx.html">お知らせ</a></li>
			<li><a href="xxx.html">プロジェクト新規登録</a></li>
			<li><a href="xxx.html">プロジェクト確認</a></li>
			<li><a href="xxx.html">お気に入り</a></li>
			<li><a href="xxx.html">フォロー済み</a></li>
			<li><a href="xxx.html">履歴</a></li>
			<li><a href="xxx.html">メッセージ</a></li>
			<li><a href="xxx.html">会員情報編集</a></li>
			<li><a href="xxx.html">ログアウト</a></li>
		</ul>
	</div>

    </header>